fastapi
uvicorn[standard]
pydantic
SQLAlchemy
psycopg[binary,pool]
pgvector
langchain
langchain-core
langchain-google-genai
langchain-postgres
langchain-text-splitters
langsmith
google-ai-generativelanguage
google-api-core
google-auth
numpy
requests
python-dotenv
PyYAML
pytest
google-generativeai
google-genai
lxml
nltk
alembic
pillow
httpx